div[theme=dark] {
    background-color: black;
}

div[theme=dark] .ant-typography  {
    color: hsla(0,0%,100%,.65);
}

div[theme=dark] .ant-btn-primary  {
    border: 0px !important;
    outline: 0px !important;
    background-color: #e91e63;
}

.ant-slider-track {
    background-color: #CDDC39;
}

.slider .ant-slider-track {
    background-color: #e91e63;
}

.slider .ant-slider-handle {
    border: 2px solid #e91e63;
    display: none;
}

.ant-slider-handle {
    width: 8px;
    height: 8px;
    margin-top: -2px;
    background-color: #fff;
    border: 2px solid #8BC34A;
}